@model IEnumerable<WebApplication4.Models.UserWithRoleInfo>

@{
    ViewBag.Title = "UserWithRoles";
}

<h2>UserWithRoles</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        @{int j = 0;
            foreach (var role in Model)
            {
                <th>
                    @Html.DisplayName(role.UserRoles[j].RoleName)
                </th>
                j++;
            }
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            @for (int i = 0; i < item.UserRoles.Count; i++)
            {
                <td>
                    @Html.EditorFor(model => item.UserRoles[i].IsInThisRole)
                    @Html.HiddenFor(model => item.UserRoles[i].RoleName)
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "EditRoleAssignment", new { id = item.UserId })
            </td>
        </tr>
    }

</table>

<td>
    @Html.ActionLink("Index", "Index")
</td>


