@model WebApplication3.Models.Zyuusyoroku

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zyuusyoroku</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZyuusyorokuId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZyuusyorokuId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeisyouRyaku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeisyouRyaku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeisyouSei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeisyouSei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zyuusyo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyuusyo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zyuusyo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyuusyo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zyuusyo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyuusyo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zyuusyo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyuusyo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DennwaBanngou)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DennwaBanngou)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxBanngou)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxBanngou)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EriaId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
