@model WebApplication3.Models.Syuukasaki

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Syuukasaki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZyuusyorokuId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZyuusyorokuId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EriaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
